# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [1]:
odd = [1,3,5,7,9]

In [8]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [9]:
b[1] + b[2]

5

In [12]:
# 리스트의 인덱싱과 연산
print(b[1] + b[2])
print(c[0] + c[3])
print(c[0] * b[2])

5
Lifeshort
LifeLifeLife

In [11]:
c[-1]

'short'

In [16]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::2])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[11, 33, 55]
[55, 44, 33, 22, 11]

### 리스트 연산하기

In [18]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
# 리스트 반복하기
c = a * 3
print(a * 3)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [19]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 # 없는 요소를 수정하는 것은 에러
# print(a)
# a[1] = '' # 빈칸 수정 삽입
# a[1] = 0 # 0d으로 수정 삽입
del a[1]
print(a)

[11, 22, 44]
[11, 44]

In [20]:
print(c)
del c[:4]
print(c)

[11, 22, 33, 11, 22, 33, 11, 22, 33]
[22, 33, 11, 22, 33]

In [21]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
# 리스트 요소 비우기
c.clear()
print(c)

[]

In [23]:
a = []

In [24]:
# 리스트 요소 추가하기
a.append(4)
print(a)
a.append([11,22])
print(a)

[4]
[4, [11, 22]]

In [25]:
b = []
num = 0

In [26]:
num += 1
b.append(num)
print(b)

[1]

In [27]:
# 리스트 정렬(오름차순) - sort
a = [11,44,33,22,55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [28]:
# 리스트 정렬(내림차순) - sort
a = [11,44,33,22,55]
a.sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [29]:
# 리스트정렬 원본 유지하기
aa = [66, 77, 88, 99, 0]
bb = sorted(aa)
cc = sorted(aa, reverse = True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [30]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry','blueberry']
result = sorted(fruit, key=len)
result2 = sorted(fruit, key=len, reverse = True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']

In [31]:
print('과일을 먹어볼까?')
for r in result:
    if r == 'banana':
        print(r + '못먹겠어 웩!')
    if r != 'banana':
        print(r + '냠냠 맛있다~')
print('와 ~ 다먹었다')

과일을 먹어볼까?
kiwi냠냠 맛있다~
pear냠냠 맛있다~
melon냠냠 맛있다~
apple냠냠 맛있다~
banana못먹겠어 웩!
orange냠냠 맛있다~
blueberry냠냠 맛있다~
strawberry냠냠 맛있다~
와 ~ 다먹었다

In [32]:
# 리스트 뒤집기 - reverse
a = [11, 44, 33, 22, 55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [33]:
# 인덱스 반환 - index
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
fruit.index('melon')

3

In [40]:
# 인덱스 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
want = input('먹고 싶은 과일을 입력하세요')
where = fruit.index(want)
print(f'{want} 를 좋아하시는 군요!!! 그것은 {where + 1}번 째에 있습니다.')

먹고 싶은 과일을 입력하세요 orange

orange 를 좋아하시는 군요!!! 그것은 3번 째에 있습니다.

In [41]:
# 리스트에 요소 삽입 - insert
num = [11, 22, 33, 44, 55, 66, 77, 88]
print(num)
num.insert(3,44) # 3은 인덱스 위치, 44는 원하는 값
print(num)

[11, 22, 33, 44, 55, 66, 77, 88]
[11, 22, 33, 44, 44, 55, 66, 77, 88]

In [42]:
ex = []

In [43]:
ex.insert(0,'맨앞')
print(ex)
ex.insert(-1,'-1인덱스')
print(ex)
ex.insert(0,'맨앞')
print(ex)
ex.insert(len(ex),'제일 끝')
print(ex)

['맨앞']
['-1인덱스', '맨앞']
['맨앞', '-1인덱스', '맨앞']
['맨앞', '-1인덱스', '맨앞', '제일 끝']

In [44]:
# 리스트 요소제거 - remove
a = [1, 2 ,3 ,1 ,2, 3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [45]:
# 리스트 요소 끄집어 내기 - pop
a = [1 ,2 ,3]
hand = a.pop()
print(a)
print("받은거", hand)

[1, 2]
받은거 3

In [46]:
hand = a.pop() # 리턴값을 받음
print(a)
print("받은거", hand)

[1]
받은거 2

In [47]:
# 리스트에 포함된 요소 x의 개수 세기
st = "안녕하세요 반가워요"
print(st.count("요"))
a = [1, 2, 3 ,1, 1, 1, 2, 3, 4,5 ,23 ,4, 15, 1, 2,]
print(a.count(1))

2
5

In [48]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4,5])
print(a)
b = [11, 22, 33]
c = [44, 55, 66]
print(b + c)

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [49]:
# 장바구니
bag = []

In [50]:
# Create 생성
inp = input('필요한 항목을 넣어주세요. : ')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다.')

필요한 항목을 넣어주세요. :  사과

장바구니에는 ['사과']들이 있습니다.

In [28]:
# FIFO 출력(큐 출력)
hand = bag.pop(0)
print(f'{hand}을(를) 꺼내서 장바구에 {bag}이(가) 남았습니다.')

감자을(를) 꺼내서 장바구에 ['술']이(가) 남았습니다.

In [32]:
# 선택출력
bag = ['호박', '감자', '술', '맥주', '피자']
print(f"바구니에 {bag} 물품이 있습니다.")
bring = input('꺼내고 싶은 물품을 입력하세요.')
hand2 = bag.pop(bag.index(bring))
print(f'바구니에서 {hand2}을(를) 꺼내어 {bag}이(가) 남았습니다.')

바구니에 ['호박', '감자', '술', '맥주', '피자'] 물품이 있습니다.

꺼내고 싶은 물품을 입력하세요. 감자

바구니에서 감자을(를) 꺼내어 ['호박', '술', '맥주', '피자']이(가) 남았습니다.

In [33]:
# 테스트 remove에는 리턴값이 없다.
choice = 33
a = [11, 22, 33, 44, 55, 66]
a.remove(choice)
print(f'{choice}을(를) 제거 하였습니다.')

33을(를) 제거 하였습니다.

In [ ]:
bag = []

In [40]:
# 실습
bag = ['호박', '감자', '소주', '맥주', '피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
print(f"바구니에 {bag} 물품이 있습니다.")
test1 = input('추가 할 물품을 지정해 주세요.')
test2 = input('어느 물품의 뒤에 넣어둘까요?')
bag.insert(bag.index(test2)+1,test1)
print(f'장바구니에는 {bag}들이 있습니다.')

바구니에 ['호박', '감자', '소주', '맥주', '피자'] 물품이 있습니다.

추가 할 물품을 지정해 주세요. 맥주
어느 물품의 뒤에 넣어둘까요? 감자

장바구니에는 ['호박', '감자', '맥주', '소주', '맥주', '피자']들이 있습니다.

In [44]:
# 테스트
num = int(input('내가 누구게? 숫자를 입력하세요.'))
print(num + 4, type(num))

내가 누구게? 숫자를 입력하세요. 777

781 <class 'int'>

In [3]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=V6nLvpItarPinUqXxkMz40yEICS7bHgt&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(type(data))
result = (data[-1]['deal_bas_r'])
result1 = result.replace(",","")
print(result1,type(result1))
print(f'오늘의 환율은 1달러($)에 {result1}원  입니다.')

<class 'list'>
1460.8 <class 'str'>
오늘의 환율은 1달러($)에 1460.8원  입니다.

In [9]:
# 환률 계산기 만들기
chg = float(result1)
dol = int(input("원화로 계산할 달러($)를 입력하세요. : "))
won = dol * chg
print(f"현재 1달러는 {chg}원 이므로 {dol} 달러($)는 원화로 {won:,} 원 입니다.")

원화로 계산할 달러($)를 입력하세요. :  30

현재 1달러는 1460.8원 이므로 30 달러($)는 원화로 43,824.0 원 입니다.

In [49]:
# from decimal import Decimal
# rr = 0.1 + 0.2
# result = Decimal(rr)
# print(result)
rr = 1449.4 * 4
print(round(rr,1))

5797.6

## 튜플 자료형

In [71]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'ac'))

In [51]:
# 튜플의 요소값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
dir(tuple) # tuple()

In [53]:
# 인덱싱하기
t1 = (1, 2, 'a', 'b')
print(t1[0], t1[3])

1 b

In [54]:
# 슬라이싱
t1 = (1, 2, 'a', 'b')
print(t1[1:])

(2, 'a', 'b')

In [55]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

In [56]:
# 튜플 곱하기
t2 = 3, 4
t3 = t2 * 3
print(t3)

(3, 4, 3, 4, 3, 4)

In [58]:
len(t3)

6

## 딕셔너리 자료형

In [59]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [61]:
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

In [64]:
al = [11, 22, 33, 44, 55]
at = 11, 22, 33, 44, 55
ad = {0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(at[0])
print(ad[0])

11
11
11

In [66]:
# test
for l in al:
    print(l)
print('='*10)
for t in at:
    print(t)

11
22
33
44
55
==========
11
22
33
44
55

In [67]:
a = {'aa' : [1, 2, 3, 4, 5]}
print(a['aa'])

[1, 2, 3, 4, 5]

In [69]:
dic2 = {'aa':{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}}
dic2['aa']['phone']

'010-9999-1234'

In [70]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

### 딕셔너리 쌍 추가, 삭제하기

In [72]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
dic['address'] = 'busan'
print(dic)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan'}

In [73]:
dic['array'] = [1, 2, 3, 4, 5]
print(dic)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [75]:
del dic['birth']
print(dic)

KeyError: 'birth'

In [10]:
a = {1:'a', 1:'b'}
print(a)

{1: 'b'}

### 딕셔너리 관련함수

In [15]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
# key 리스트 만들기 - keys
print(a.keys())
# value 리스트 만들기 - values
print(a.values())
# key, value 쌍 얻기 - items
print(a.items())
print(a)
# key, value 쌍 모두 지우기
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth', 'address', 'array'])
dict_values(['pey', '010-9999-1234', '1118', 'busan', [1, 2, 3, 4, 5]])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118'), ('address', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
{}

In [14]:
for k in a.keys():
    print(k)

name
phone
birth
address
array

In [53]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
print(a.get('name'))
print(a.get('super'))
print(a['money'])

pey
None

KeyError: 'money'

In [54]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
print('name' in a)

True

In [57]:
al = [11, 22, 33, 44, 55]
at = 11, 22, 33, 44, 55
ad = {0:11,1:22,2:33,3:44,4:55}

print(22 in al) # 리스트
print(99 in at) # 튜플
print(1 in ad) # 딕셔너리 키

True
False
True

In [8]:
# 실습 random 모듈
import random
menu = ["구내식당", "후문편의점", "자가도시락", "굶기", "과자"]

num1 = random.random()
print(f'0과 1사이의 랜덤소수 {num1}')
num2 = random.randint(1,100)
print(f'1과 100사이의 랜덤실수 {num2}')
lunch = random.choice(menu)
print(f'오늘의 점심 메뉴는? {lunch}')
deck = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(deck)
print(deck)

0과 1사이의 랜덤소수 0.7378639976540288
1과 100사이의 랜덤실수 98
오늘의 점심 메뉴는? 후문편의점
[6, 9, 3, 10, 7, 8, 4, 1, 5, 2]

## 집합 자료형

In [12]:
# 중복을 허용 하지 않는다.
# 순서가 없다.
s1 = set([1,2,3])
print(s1,type(s1))
s2 = set("Hello")
print(s2,type(s2))

{1, 2, 3} <class 'set'>
{'H', 'o', 'e', 'l'} <class 'set'>

In [15]:
# 집합 자료형의 특징
s1 = set([11, 22, 33, 11, 22])
l1 = list(s1)
print(l1, type(l1))
t1 = tuple(s1)
print(t1, type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

In [18]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [20]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
# 차집합
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수

In [22]:
# 값 1개 추가하기 - add
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [23]:
# 값 여러개 추가하기 - update
s1 = set([1, 2 ,3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

## 불자료형

In [24]:
# True : 참을 뜻한다. (1)
# False : 거짓을 의미한다. (0)

In [25]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [26]:
3 > 10

False

In [27]:
# 자료형의 참과 거짓
print(bool("python"))
print(bool(""))
print(bool([1, 2, 3]))
print(bool([]))
print(bool((1, 2, 3)))
print(bool(()))
print(bool({'a':1}))
print(bool({}))
print(bool(1))
print(bool(0))
print(bool(None))

True
False
True
False
True
False
True
False
True
False
False

In [30]:
# random 으로 스토리 생성기 만들기

# 등장인물 리스트
characters = ["용감한기사", "모험심 넘치는 고양이", "호기심 많은 로봇", "서투른 마법사", "명석한 탐정", "신나는 선생님"]
places = ["어두운 숲에서", "먼 우주 행성에서", "마법의 성에서", "바닷속 도시에서", "귀신이 나오는 흉가에서", "재밌는 교실에서"]
events = ["숨겨진 보물을 발견했다.", "무시무시한 용과 싸웠다.", "비밀 통로를 발견했다.", "고대의 미스터리를 풀었다.", "왕국을 위험에서 구하였다.", "꾸안꾸로 다녔다."]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)

ch1 = random.choice(characters)
pl1 = random.choice(places)
ev1 = random.choice(events)

print(f"어느 날, {ch}는 {pl} 모험을 떠나 {ev} 그리고 {ch1}는 {pl1} {ev1}")

어느 날, 명석한 탐정는 먼 우주 행성에서 모험을 떠나 숨겨진 보물을 발견했다. 그리고 신나는 선생님는 먼 우주 행성에서 무시무시한 용과 싸웠다.

# 자료형의 값을 저장하는 공간, 변수

## 리스트의 옅은복사 깊은복사

In [5]:
a = [1, 2, 3]
b = a
print(a, id(a))
print(b, id(b))
b[1] = 7
print(a,id(a))
print(b,id(b))

[1, 2, 3] 1296814755648
[1, 2, 3] 1296814755648
[1, 7, 3] 1296814755648
[1, 7, 3] 1296814755648

In [2]:
a is b

True

In [10]:
from copy import copy
c = [11, 22, 33]
# d = copy(c)
# d = c[:]
d = c.copy()
print(c, id(c))
print(d, id(d))
d[1] = 77
print(c,id(c))
print(d, id(d))

[11, 22, 33] 1296814687488
[11, 22, 33] 1296814689728
[11, 22, 33] 1296814687488
[11, 77, 33] 1296814689728

In [11]:
c is d

False

## 변수를 만드는 여러가지 방법

In [12]:
a , b = "파이썬" , "짱짱"
[c, d] = ["배고파", "밥줘"]
print(a, b)
print(c, d)

파이썬 짱짱
배고파 밥줘

In [13]:
a = 3
b = 7
print(a, b)
a, b = b, a
print(a, b)

3 7
7 3

In [14]:
a = 33
b = 77
print(a, b)
temp = a
a = b
b = temp
print(a, b)

33 77
77 33